@font-face {
	font-family: 'Helvetica';
	src: url('fonts/helvetica.otf');
}

/*o.v.
  big shout out to http://www.jakpsatweb.cz/css/css-vertical-center-solution.html */

body
{
	height: 100%;
}

#bottom-border
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0px
	overflow: hidden;
}

.centralizer-container {
	left: 0px;
	display: table; 
	height: 100%; 
	position:absolute;
	overflow: hidden;
	width:100%;
}
.centralizer-helper {
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
}
.centralizer-content {
	#position: relative; 
	#top: -50%;
	margin:0 auto;
}

@media not screen and (min-height: 640px)
{
	.limit-max-fill
	{
		max-width: 320px;
		max-height: 480px;	
	}
	.maxed-height
	{
		height: 480px;
	}

	.big-fonts
	{
		font-size: 42pt;
		font-weight: bold;
	}
	.smaller-fonts
	{
		font-size: 11pt;
	}
	#container-interstitial
	{
		font-size: 14pt;
	}
}

@media only screen and (min-height: 640px)
{
	.limit-max-fill
	{
		max-width: 480px;
		max-height: 640px;	
	}
	.maxed-height
	{
		height: 640px;
	}

	.big-fonts
	{
		font-size: 56pt;
		font-weight: bold;
	}
	.smaller-fonts
	{
		font-size: 13pt;
	}
	#container-interstitial
	{
		font-size: 21pt;
	}
}

.y-20
{
	margin-top: 20%;
}
.y-30
{
	margin-top: 30%;
}
.y-40
{
	margin-top: 40%;
}

.width-100
{
	width: 100% !important;
}
.width-90
{
	width: 90% !important;
}
.width-80
{
	width: 80% !important;
}
.width-70
{
	width: 70% !important;
}
.width-60
{
	width: 60% !important;
}
.width-50
{
	width: 50% !important;
}
.width-40
{
	width: 40% !important;
}
.width-30
{
	width: 30% !important;
}
.width-20
{
	width: 20% !important;
}
.width-10
{
	width: 10% !important;
}

.init-hidden{
	display: none;
}

.center-texts{
	text-align: center;
}
.center-wrapper{
	text-align: center;
}
.center-wrapper * {
	margin-left: auto;
	margin-right: auto;
}
.margin-center-x
{
	margin-left: auto;
	margin-right: auto;	
}


.ui-progressbar-value
{
	background-color: #32c8f0;
	background-image: none;
}


#interstitial-overlay
{
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 999;
}
#container-interstitial
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	z-index: 1000;
	color: #F0F0F0;
	text-shadow: 0px 0px 1px #c8c8c8;
	position: relative;
}
.interstitial-corner-backgrounds
{
	position: absolute;
	width: 50%;
	height: auto;	
	z-index: -1;
}
.interstitial-content
{
	z-index: 1;
}
.interstitial-content *
{
	z-index: 1;
}
#container-lines-animation .row-05
{
	margin-top: 0.6em;
}
#container-lines-animation .row-06
{
	margin-top: 0.6em;
}

