
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto+Mono:400,500,400italic,300italic,300,100italic,100,500italic,700,700italic|Roboto+Slab:400,700,300,100);

body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color:#FFF;
	font-family: 'Open Sans', sans-serif;
	margin:50px 0 0 !important;
}
h1, h2, h3, h4, h5, h6, a{
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: 700;
}
.form-control{
	font-family: 'Open Sans', sans-serif;
}
.no-padding{
	padding:0;
}
p{
	font-size: 22px;
	color: #505050;
}
.jumbotron {
  padding: 25px 0;
  margin-bottom: 0;
	
	background-position:  0 0;
	background-repeat:  no-repeat;
	background-position: center 100px;
	background-size: cover;
	background-attachment: fixed;
	/*min-height: 689px;*/
	background-color: #FFF;
	min-height: 750px;
}
.banner-title{
	font-size: 35.77px;
	color: #fff;
	font-weight:300;
	-webit-text-shadow:1px 1px rgba(0,0,0,0.26);
	-ms-text-shadow:1px 1px rgba(0,0,0,0.26);
	-moz-text-shadow:1px 1px rgba(0,0,0,0.26);
	-o-text-shadow:1px 1px rgba(0,0,0,0.26);
	text-shadow:1px 1px rgba(0,0,0,0.26);
	line-height: 50px;

	 font-size: 32px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-align: center;
}
.title.text-center {
  color: #666;
  font-size: 22px;
  font-weight: normal;
  text-align: left;
}

.title{
	font-size: 39.86px;
	color: #434343;
	/*font-weight: 700;*/
	position: relative;
}
.title:after{
	content: "";
	height: 1px;
	background-color: #f67700;
	/*max-width: 262px;*/
	width: 100%;
	/*left: 50%;
	margin-left: -120px;*/
	display: inline-block;
	position: absolute;
	bottom: -15px;
	left: 0%;
	margin-left: 0px;
}
.form-title{
	font-size: 30px;
	font-weight: 600;
	color: #434343;
}
/*.comments{
	font-size: 22px;
	color: #434343;
	min-height: 200px;
}*/
.comments {
  color: #434343;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 28px;
  min-height: 170px;
}
.img-responsive{
	display: inline-block;
}
/*#site-wrapper{
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}
.site-header{
	padding: 15px 15px 5px;
	float: left;
	background:#FFF;
}*/
.site-banner{
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-position: center center;
	-ms-background-position: center center;
	-o-background-position: center center;
	-moz-background-position: center center;
	background-position: center center;
	border-top:2px solid #f59d36;
	border-bottom: 2px solid #f59d36;
	height:465px;
}
.form-zip{
	/*border:3px solid #3d99ed;*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	padding: 25px 19px;
	background-color: rgba(255,255,255,0.9);
	margin-top:25px;
	margin-bottom: 30px;
    display: block;
    float: none;
    margin-left:auto;
    margin-right:auto;
}
.form-zip .form-inline{
	margin-top: 15px;
	margin-bottom: 5px;
}
.form-zip .form-control{
	height: 63px;
	background-color: #fff !important;
	-webkit-border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	border-radius: 8px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	font-size:26px !important;
	color: #666666 !important;
	text-align: center;
	padding: 0 !important;
	max-width: 236px;
}
.form-zip .btn-primary{
	/* height: 63px; */
	height: 45px;
	/* width: 133px; */
	/* padding: 0; */
	padding: 9px 13px 6px 13px;
	font-size: 18px;
	font-weight: 900;
	/* margin-left: 4px; */
	background-color: #de3d3d;
	text-transform: uppercase;
	border:none;
}
.slides-section{
	clear: both;
}
.slides-changer{
	display: inline-block;
}
.slider-liner{
	max-width: 317px;
	height: 1px;
	content: "";
	background-color: #fff;
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.slider-liner:before{
	height: 1px;
	content: "";
	background-color: #f67700;
	display: inline-block;
	width: 35%;
	float: left;
}
.slider-thumb{
	width: 100%;
	float: left;
}
.slider-text{
	margin-left: 10px;
	font-size:14px;
	color: #fff;
	-webit-text-shadow:1px 1px rgba(0,0,0,0.26);
	-ms-text-shadow:1px 1px rgba(0,0,0,0.26);
	-moz-text-shadow:1px 1px rgba(0,0,0,0.26);
	-o-text-shadow:1px 1px rgba(0,0,0,0.26);
	text-shadow:1px 1px rgba(0,0,0,0.26);
	display: inline-block;
}
.clients{
	clear: both;
	background-color: #fafafa;
	line-height: 90px;
}
.testimonials{
	padding-top: 30px;
}
.testimonial-wrapper{
	padding-top: 30px;
	margin-top: 15px;
	padding-bottom: 40px;
}
.testimonial-wrapper blockquote{
	margin: 0;
	padding: 0 0 0 12%;
	border:none;
	background-image: url('../images/quote.png');
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 28px;
}
blockquote footer{
	/*font-size: 22px;*/
	font-size: 14px;
	color:#f67700;
	font-weight:400;
}
blockquote cite{
	font-size: 13px;
    font-weight: bold;
    font-style: normal;
}
.section{
	padding-top: 40px;
	padding-bottom: 40px;
	border-top:1px solid #dcdcdc;
}
.section:last-child{
	padding-bottom: 15px
}
.about-things .title{
	margin-bottom: 35px;
}
.about-things p{
	line-height: 28px;
	font-weight: 500 !important;
	font-size:16px;
}
.footer-zip{
	background-image: url('../images/box-bg.jpg');
	background-repeat: repeat;
}
.footer-zip .form-zip{
	margin-top: 35px;
	margin-bottom: 35px;
}
.footer-bottam{
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}
.copyright {
  font-size: 10px !important;
  line-height: normal;
  margin: 5px 0 0 0;
  position: relative;
  color: #fff;
}
.footer-bottam .social-icons {
  margin: 20px 0 0 0;
  padding: 0;
}
.footer-bottam .social-icons li {
  display: inline;
  margin-right: 15px;
}
.btn-social-icon {
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 34px;
  font-size: 1.8em;
  color: #fff;
}
.btn-social-icon:hover{
	color: #0d86f2;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]{
	margin-left: 0px;
}
/*  17-apr-2015  */
/*.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  border-top: 5px solid #2d87f0;
  border-bottom:0 none;
  border-left:0 none;
  border-right:0 none;
}*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border-color: transparent -moz-use-text-color -moz-use-text-color;
  border-color:transparent;
  border-style: solid none none;
  border-width: 5px 0 0;
  top:415px !important; 
  position: static !important;
}
.box.request-form-container.pod-request-form.form-icons{background:0 none;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front .box{margin:0;}
.overlaydiv{ background-color: #000000; display: none; height: 100%; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70); left: 0%; position: fixed; top: 0%; width: 100%; z-index:11; }

/*  form styling  */
.form-zip .form-inline .form-group {float:none;width:100%;margin-bottom:17px;margin-left: auto;margin-right: auto;width: 100%;}
img#zipCode2_ife_marker_0.ife_marker, img.ife_marker#zipCode_ife_marker_1 { display: none !important;}

.primo .form-zip .form-inline .ziperror, .primo .form-zip .form-inline .ziperror1 { color: #f00; float: none; width: auto;margin: 1% auto;}
.primo .ui-dialog .section1, .primo .ui-dialog .section2 , .primo .ui-dialog .section3{ /*padding: 0 42px;*/padding:0;}
.primo .ui-dialog .body-title h1 { color: #434343; font-size: 22px;margin:0;}
.primo .ui-dialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  margin: 0;
  padding: 0;
}

.primo .ui-dialog .body-title{padding:0;margin:0;}
.primo .ui-dialog .ui-dialog-content{padding:0 1em;}
.primo .box .box-header h1, .box .box-header h2{font-size:17px;color: #434343;}
.primo .ui-dialog fieldset .form-field label { color: #575757; font-family: Arial,Verdana,sans-serif; font-size: 14px;}
.primo .ui-dialog fieldset .form-field label.select-option { font-family: arial; font-size: 14px;}
.primo fieldset .radio-section .select-option input[type="radio"], .primo fieldset .checkbox-section .select-option input[type="radio"], .primo fieldset .radio-section .select-option input[type="checkbox"], .primo fieldset .checkbox-section .select-option input[type="checkbox"] {
  top: 9px !important;
}
.primo .ui-dialog .form-icons .form-nav{padding-left:0;}
.primo .ui-dialog fieldset .form-field .add-on {  color: #434343 !important; font-size: 15px !important;}
.primo .ui-dialog fieldset .form-field { font-family: Arial,Verdana,sans-serif; font-size: 14px; font-weight: 400;}

.primo .ui-dialog fieldset.fieldset-submit p {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 400;
}
.primo .ui-dialog fieldset .weddingDay.hasDatepicker { font-weight: normal;}
.primo .ui-dialog fieldset.fieldset-submit p a{color:#4092f1;}

/*------------------------- default css for form ------------------ */
.invalid {
    border: 1px solid #d51818 !important;
}
.invalidlabel {
    border-bottom: 1px solid #d51818 !important;
}
.need_error, .invalid_data,.invalid_data1, .style_error,.location_error,.format_error,.discussion_error, .bestDate_error, .bestTime_error, .engagement_error, .weddingDay_error, .quoteEmail_error,.quotePhone_error, .callDirectly_error, .quoteName_error, .zipcode_error
{
	color:#d51818 !important;
}
.valid_data{
 	background: url("../images/tick.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
}
.invalid_data{
 	background: url("../images/error.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
}
/*------------------------- default css for form ------------------ */

.col-sm-7.col-md-offset-4.form-zip {
  margin-left: 31%;
}
 .footer-zip .form-inline .form-group #service-zipcode {
line-height: normal;
height: auto;
padding: 10px 0 7px 0 !important;
width:150px;
display:initial;
}
.jumbotron.site-banner .form-inline .form-group #zipcode {
line-height: normal;
height: auto;
padding: 10px 0 7px 0 !important;
width:150px;
display:initial;
}
::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder {text-align: center;}
:-ms-input-placeholder {text-align: center;}
/*For sticky header*/
header {
  z-index:10;
  /*background-color: #fff;*/
  background-color:transparent;
  border-bottom: 1px solid #e6e6e6;
}
  .fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
  background-color: white;
   border-bottom: 2px solid #f59d36;
}
/*button on header while scrolling*/
.fixed-header .site-header .brand { float:left;}
.get-started {
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    padding: 9px 27px;
	color:#fff;
	border:1px solid #1070de;
	background:-webkit-gradient(linear, left top, left bottom, from(#4092f1), to(#1a7cee));
	background:-webkit-linear-gradient(top, #4092f1, #1a7cee);
	background:-moz-linear-gradient(top, #4092f1, #1a7cee);
	background:-ms-linear-gradient(top, #4092f1, #1a7cee);
	background:-o-linear-gradient(top, #4092f1, #1a7cee);
	background:linear-gradient(top, #4092f1, #1a7cee);
	background-color:#2d87f0;
	margin:12px 0 0;
}
.get-started:hover{
	background:-webkit-gradient(linear, left top, left bottom, from(#4092f1), to(#1172e3));
	background:-webkit-linear-gradient(top, #4092f1, #1172e3);
	background:-moz-linear-gradient(top, #4092f1, #1172e3);
	background:-ms-linear-gradient(top, #4092f1, #1172e3);
	background:-o-linear-gradient(top, #4092f1, #1172e3);
	background:linear-gradient(top, #4092f1, #1172e3);
	background-color:#2882ea;
}
.get-started:focus{
	-webkit-box-shadow:0 0 1px 2px #b7d6fa;
	-moz-box-shadow:0 0 1px 2px #b7d6fa;
	box-shadow:0 0 1px 2px #b7d6fa;
}
.get-started:active{
	border:1px solid #0e5fbd;
	background:-webkit-gradient(linear, left top, left bottom, from(#1172e3), to(#1172e3));
	background:-webkit-linear-gradient(top, #1172e3, #1172e3);
	background:-moz-linear-gradient(top, #1172e3, #1172e3);
	background:-ms-linear-gradient(top, #1172e3, #1172e3);
	background:-o-linear-gradient(top, #1172e3, #1172e3);
	background:linear-gradient(top, #1172e3, #1172e3);
	background-color:#1172e3;
	-webkit-box-shadow:inset 0 1px 2px #0e5fbd;
	-moz-box-shadow:inset 0 1px 2px #0e5fbd;
	box-shadow:inset 0 1px 2px #0e5fbd;
}

.subtext-form1 { color: #999; float: left; text-align: left; width: 100%;}
li.section p strong{color: #575757;}
li.section + li.section { padding-bottom: 0;}
li.section + li.section p { float: left; padding-top: 0; vertical-align: top; width: 48%;}
li.section + li.section + li.section { border: 0 none; padding: 0;}
li.section + li.section + li.section p { float: right;}


/*For Testimonials*/
.row.testimonial-wrapper {margin-left: 75px;}
.list-unstyled.text-center.row {margin-left: 33px;}


/*-------- help-section css start here -----------*/
.help-section{
	clear: both;
	float: left;
	width: 100%;
	margin-top:25px;
	/*margin-bottom: 25px;*/
}
.help-section .title{
	text-align: center;
	margin-bottom: 35px;
}
.help-section .title:after{
	width: 270px;
	margin:auto;
	left: 0;
	right: 0;
	bottom:-25px;
}
.help-section .container{
	border-top: 1px solid #dcdcdc;
	padding-top: 35px;
}
.sub-text-muted{
	color: #7c7c7c;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}
.step-wrap{
	padding-top:35px;
	padding-bottom:35px;
	border-bottom: 1px solid #dcdcdc;
}
.step-wrap:last-child{
	border-bottom:none;
}
.step-wrap h4{
	color: #0e6ad4;
	font-size: 45px;
}
.step-wrap p{
	font-size: 22px;
	padding-left: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
}
.step-img{
	text-align: center;
}
.step-icon{
	background-repeat: no-repeat;
	background-position: center center;
	width:25px;
	height:25px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.icon-dolor{
	background-image: url('../images/icon-dolor.jpg');
}
.icon-star{
	background-image: url('../images/icon-star.jpg');
}
.icon-contact{
	background-image: url('../images/icon-contact.jpg');
}
.icon-msg{
	background-image: url('../images/icon-msg.jpg');
}
.icon-profile{
	background-image: url('../images/icon-profile.jpg');
}
.step-listing{
	padding-left: 35px;
}
.step-listing li{
	float: left;
	width: 50%;
	padding: 10px 0;
	vertical-align: middle;
	font-size: 18px;
}

.jumbotron .body-title h1 { font-size: 30.8px; text-align:center;}
.ui-dialog .content .dynamic-row .request-block {width:100%;}

/*-------- help-section css end here -----------*/
form#wedding-form .step1 .title:after{background-color:transparent;}
form#wedding-form .step1 .title .modal-popup-htwo { color: #0ae; font-size: 17px; text-align: center;}
form#wedding-form .step1 .title p{font-size:13px;text-align: center;line-height:normal;margin-bottom:0;}
form#wedding-form .step1 fieldset{margin-left:0;margin-bottom: 0;margin-top:0;/*margin-top: 5px;*/}
form#wedding-form .step1 .date-picker-container { float: left; margin: 0 13px 0 0;}
form#wedding-form .step1 .checkbox.select-option.ng-binding { display: inline-block;color:#b0afb6;margin: 7px 0 0 10px;}
form#wedding-form .step1 .checkbox.select-option.ng-binding input[type="checkbox"]{position:static;}
form#wedding-form .step1 .form-field.valid{width:100%;float:left;}
form#wedding-form .step1 #want_quotes_panel1 { float: left; width: 48%;}
form#wedding-form .step1 #want_quotes_panel2 { float: right; width: 48%;}
.primo form#wedding-form fieldset .form-field { padding: 0 15px 5px 0;}

form#wedding-form .step1 h3, form#wedding-form .step1 .contact-photographer p, form#wedding-form .step1 .zipcodelabel2 {
  float: left;
  font-size: 1.1em;
  width: 100%;
  color:#000;
  font-weight:normal;
}

/* -------- Style Added on 20 july ---------- */

.formland-top-title {float: right;padding: 15px 0;}
.formland-top-title .modal-popup-htwo {font-size: 24px;color: #009bed;font-family: 'Roboto', sans-serif;}
.formland-top-title p i {color: #434343;font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: 300;line-height: 1;}
.formland-top-title p {line-height: 1;}
/*.container.formland-b {width: 100%;}*/
.container.formland-b .ui-dialog.ui-widget {float: right;margin-right: 25% !important; padding: 0 38px;}
.photography-budget {color: #0092ec;font-size: 16px;font-weight: normal !important;text-align: center;text-transform: uppercase;}
.formland-b .box.request-form-container.pod-request-form.form-icons {background: transparent none repeat scroll 0 0;padding: 0;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front .box {margin: 0;}
.formland-b form#wedding-form .step1 .date-picker-container{width: 100%;margin: 0 0 15px;}
.formland-b .form-field.form-field-date {float: left;}
.formland-b .checkbox.select-option.ng-binding {/*float: left;margin: 7px 0 0 10px;*/color: #575757;
  font-size: 16px;display:block;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;}
.formland-b .step1 .row {margin: 0;}
.weddingDay.hasDatepicker.placeholder {
  border-color: #ebeaea;
  border-radius: 3px;
  box-shadow: none !important;
  color: #b0afb6;
  font-size: 16px;
  font-weight: 300;
  padding: 5px;
  width: 110px;
  font-family: 'Roboto', sans-serif;}
}
.row > p .tooltip-new {
  width: 70px;
  background-color: #323232;
}
.budget.tooltip-new {
  background: #555555 none repeat scroll 0 0 !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  color: #fff !important;
  /*float: right;
  opacity: 0;*/
  position: relative;
  width: 66px !important;
  /*z-index: 999;*/
  z-index:0;
  border: 4px solid #555555 !important;
}
.budget.tooltip-new:after, .budget.tooltip-new:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.budget.tooltip-new:after {
	border-color: rgba(85, 85, 85, 0);
	border-top-color: #555555;
	border-width: 5px;
	margin-left: -5px;
}
.budget.tooltip-new:before {
	border-color: rgba(85, 85, 85, 0);
	border-top-color: #555555;
	border-width: 11px;
	margin-left: -11px;
}
.formland-b #slider-range-min {
  margin-bottom: 15px;
}
.choose-location {
  float: left;
  width: 100%;
}
.choose-location label {
  color: #3f3f3f;
  float: left;
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px !important;
}
.formland-b .choose-location #search_radius, #no_of_req_photog {
  /*background: transparent none repeat scroll 0 0;*/
  background:#FFF;
  border: 1px solid #ebeaea;
  height: 40px;
  line-height:40px;
  margin: 0 0 0 10px;
  padding: 7px 0;
  width: auto;
}
.get-quotes {
  margin-bottom: 15px;
  color: #0092ec !important;
    font-family: "Roboto",sans-serif;
    font-size: 16px !important;
    text-transform: uppercase;
}
.formland-b form#wedding-form .step1 #want_quotes_panel1 {
  width: 100%;
}
.formland-b form#wedding-form .step1 #want_quotes_panel2 {
  float: left;
  width: 100%;
}
.formland-b .row .col-md-6:first-child {
  padding-left: 0;
}
.formland-b .row .col-md-6:nth-child(2) {
  padding-right: 0;
}
.formland-b .contact-photographer p {
  color: #0092ec !important;
  font-family: "Roboto",sans-serif;
  font-size: 16px !important;
  text-transform: uppercase;
}
.contact-photographer .col-md-9{padding-left: 0;}
.contact-photographer .col-md-2{padding-right: 0;}
.subtext-form span {
  color: #3f3f3f;
  font-size: 12px;
}
.formland-b .step1 input {
  border: 1px solid #ebeaea !important;
  border-radius: 3px;
  box-shadow: none !important;
  color: #b0afb6;
  font-size: 14px;
  font-weight: 300;
}
.formland-b .step1 .col-md-12 {
  padding: 0;
}
.formland-b .step1 .valid.zipcode2 {
  margin-left: 10px;
  width: auto !important;
}
.formland-b .step1 .zipcodelabel2 {
  color: #3f3f3f !important;
  float: left !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  margin-top: 12px !important;
  width: auto !important;
}
.form-field a{float:left;width:100%;}
.form-field p{color:#3f3f3f !important;}

.contact-photographer { padding: 5px 0 0;}
.contact-photographer p {margin: 0;
}
.get-started-free { padding: 0 0 15px; text-align: center;}
#step1-continue, .bttn.blue{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c8f5+16,0091e9+100 */
background: #00c8f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiMwMGM4ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA5MWU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, #00c8f5 16%, #0091e9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#00c8f5), color-stop(100%,#0091e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00c8f5 16%,#0091e9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00c8f5 16%,#0091e9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00c8f5 16%,#0091e9 100%); /* IE10+ */
background: linear-gradient(to bottom, #00c8f5 16%,#0091e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c8f5', endColorstr='#0091e9',GradientType=0 ); /* IE6-8 */border:1px solid #00669e;text-decoration: none;border-radius: 0;text-transform: uppercase;margin-right:5px;}
#step1-continue:hover, .bttn.blue:hover{text-decoration: none;}
#want_quotes_panel1 .checkme { margin: 0 5px 0 0;}
.primo .ui-dialog fieldset.fieldset-submit p.btn-rgt-txt {font-size:11px;}

.step1 #slider-range-min .ui-widget-header {
	background-color: #00adf0;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;}
.primo .step1 .photography-budget { margin: 0 0 35px;}

.formland-b .ui-dialog{overflow: visible;}
.tooltip1 {
  background: #555555 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font: 16px/30px Arial,sans-serif;
  height: 30px;
  position: absolute;
  text-align: center;
  top: -40px;
  width: 80px;
  border-radius:3px;
}
.tooltip1:before {
  content: "$";
}
.tooltip1::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #555;
  bottom: -7px;
  content: "";
  left: 5px;
  position: absolute;
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 29px;
	height: 31px;
	cursor: pointer;
	background: url('http://s24.postimg.org/lltizgrj5/handler.png') no-repeat 50% 50%;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
#weddingDay.weddingDay.hasDatepicker { position: static;}


.choose-location label.location { float: right;}
.subtext-form span{color:#f00;}
.subtext-form + .subtext-form span {color: #3f3f3f;}
.subtext-form #checkid.checkme { margin: 2px 5px 0 0; vertical-align: top;}

#ql-form #standalone-form-panel{background:none;box-shadow:0 0 0;}
.zip-enter .subform { clear: left; height: auto; padding: 0 30px;}
#home-panel-content .zip-enter #questions.step0{background:none;}
/*.container-fluid.no-padding.clients {display:none;}*/
.step3 #panel-cols td {float:left;width:275px !important;overflow: hidden;}
.step3 #panel-cols span, .step3 #panel-cols a { border: 1px solid #ccc; border-radius: 0; display: inline-block; margin: 2px; min-width: 28px; text-align: center;}
.step3 #panel-cols span{color:#3c6cad;font-weight: bold;border:0 none; width: 30.5px;}
.step3 #panel-cols a.disabled { opacity: 0.5; pointer-events: none;}
#car-form #car-selector:nth-child(1) { left: 12px; position: absolute; top: 115px; width: 80px;}
table.back { width: 100%;}
#car-form #car-details .next1, #car-form #car-details .left input.next1 { background: #de3d3d url("../images/animated-arrow-white.gif") no-repeat scroll right center; border: 1px solid #b93434; border-radius: 5px; box-shadow: 0 2px 0 #b93434; color: #fff; cursor: pointer; font-size: 15px; line-height: normal; padding: 5px 30px 5px 13px; text-shadow: 1px 1px 0 #b93434;margin-top:0px !important;font-weight:normal;width:auto !important;position:relative;margin-left: auto;margin-right: auto;float: none;}
#car-form #car-details .next1:before { border-left: 1px dotted #b93434; content: ""; height: 100%; position: absolute; right: 20px; top: 0;}
#car-form #car-details .next1:hover{background-color:#ec4141;text-decoration:none;}
#main_div #car-panel{max-width:256px !important; top:130px;}
#ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=text], #ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=tel]{height:25px;line-height:25px;padding:0 5px;}


/*21july */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800);
img{border:0 none;}
@font-face {
    font-family: 'hlt_hummingbirdregular';
    src: url('../fonts/hlt_hummingbird-webfont.eot');
    src: url('../fonts/hlt_hummingbird-webfont.eot?') format('embedded-opentype'),
         url('../fonts/hlt_hummingbird-webfont.woff2') format('woff2'),
         url('../fonts/hlt_hummingbird-webfont.woff') format('woff'),
         url('../fonts/hlt_hummingbird-webfont.ttf') format('truetype'),
         url('../fonts/hlt_hummingbird-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
#mask {position:absolute; left:0; top:0; z-index:9000; background-color:#000; display:none; position:fixed; opacity:0.8;}
#boxes .window {position:absolute; left:10px; top:0 !important; display:none; z-index:9999; float:left; font-family:Helvetica, Arial, sans-serif;}
.window .popframe{float:left;}
#thanks_popup .thanks_page{ float:left; background:#fff; width:670px;position:relative; border-radius:5px;}
.blu-area{font-size:1.250em;text-align:center;padding:5px 0;font-family: 'Open Sans', sans-serif;border-radius:5px 5px 0px 0;text-shadow:1px 0 1px #069cd5;color:#fff;background:#009fdc;background:-moz-linear-gradient(top, #1cbdfa 0%, #00adee 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cbdfa), color-stop(100%, #00adee));background:-webkit-linear-gradient(top, #1cbdfa 0%, #00adee 100%);background:-o-linear-gradient(top, #1cbdfa 0%, #00adee 100%);background:-ms-linear-gradient(top, #1cbdfa 0%, #00adee 100%);background:linear-gradient(to bottom, #1cbdfa 0%, #00adee 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cbdfa', endColorstr='#00adee',GradientType=0 ); min-height:40px;}
#thanks_popup .thanks_page .thanks_page-inner{ max-width:360px; margin: auto;text-align:center;}
#thanks_popup .thanks_page .close {background:none;position: absolute; cursor:pointer; cursor: hand; right:10px; top:10px;opacity:1; }
#thanks_popup .thanks_page h2 { color: #00aaee; font-family: 'Open Sans', sans-serif;line-height:1.1; font-size: 24px; font-weight: normal; padding: 5px 0 15px; text-transform: uppercase;margin: 0.83em 0 0;}
#thanks_popup .thanks_page .thanks_page-inner p{ color: #555555; font-family: 'Open Sans', sans-serif; font-size: 14px; padding: 1em 0 0;margin:0;}
#thanks_popup .thanks_page .thanks_page-inner p a { color: #00aaee;text-decoration:none;transition:all 0.2s ease-in-out 0s;}
#thanks_popup .thanks_page .thanks_page-inner p a:hover { color: #555;text-decoration:underline;}
#thanks_popup .thanks_page h6 { color: #555; font-family: "hlt_hummingbirdregular"; font-size: 70px; font-weight: normal; line-height: 80px; margin-bottom: 0; margin-top: 16px;}
.share-social { background: #e9e9e9 none repeat scroll 0 0; border-radius: 0 0 5px 5px; border-top: 1px solid #e8e8e8; font-family: 'Open Sans', sans-serif; font-size: 0.813em; padding: 5px 0 20px; text-align: center;font-size: 9px; text-align: center;color: #111;}
.share-social p{padding:0 0 5px;margin:0;}
.get-social-with-us-icons a div { display: inline-block; height: 32px; margin: 0 1px; padding: 0; width: 32px;}
.get-social-with-us-icons .fb { background: rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 0 -3392px;}
.get-social-with-us-icons .tt { background: rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 0 -10976px;}
.get-social-with-us-icons .g { background: rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 0 -4512px;}
.get-social-with-us-icons .p { background: rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 0 -8224px;}
.get-social-with-us-icons .in { background: rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 0 -5376px;}

/*  new design coding  */
/*#site-wrapper .container{padding:0;}*/
#site-wrapper header{border:0 none;}
/*#site-wrapper header .container { background: #fff none repeat scroll 0 0; border-left: 2px solid #009bed; border-radius: 5px 5px 0 0; border-right: 2px solid #009bed; border-top: 2px solid #009bed;}*/
#site-wrapper header .container span#location { color: #666; display: inline-block; font-size: 16px; font-weight: 400; padding: 52px 0 0; text-transform: uppercase;}
#site-wrapper .jumbotron {background:transparent;padding:0;border:none;border-radius:0px;/*min-height: 480px;min-height: 100%;*/min-height: inherit; }
/*#site-wrapper .jumbotron #ql-form { max-width: 1170px;width:100%;}*/
#site-wrapper .jumbotron #ql-form #standalone-form-panel {width: 100%; padding: 0; position: static; height:auto;  /*border-radius: 0 0 5px 5px !important; border-right: 2px solid #009bed; border-bottom: 2px solid #009bed; border-left: 2px solid #009bed;*/}
#site-wrapper .jumbotron #ql-form #standalone-form-panel table { border-radius: 0 0 3px 3px !important;/*background-color: transparent;*/}
#site-wrapper #ql-form #standalone-form-panel table#home-panel-content td {vertical-align: top;}
#site-wrapper .jumbotron #ql-form #standalone-form-panel #home-panel-content .zip-enter #questions{padding:0;}
#site-wrapper .jumbotron #ql-form #standalone-form-panel #home-panel-content .zip-enter #questions #car{padding:0 15px 0 15px;}
#site-wrapper .jumbotron #ql-form #standalone-form-panel #home-panel-content .zip-enter #questions /* #car:before { background: rgba(0, 0, 0, 0) url("../images/banner.png") no-repeat scroll 0 0; content: ""; height: 69px; left: -13px; position: absolute; width: 121px;top:18px;} */
#car .formland-top-title{width:100%;float:left;padding:0 0 20px;}

.front-section {float: left;width: 100%;}

/*----------media queries for responsiveness ------------*/
@media (min-width: 992px) and (max-width: 1199px){
	.form-zip{
		margin-left: 28.333%;
	}
	.comments{
		/*min-height: 226px;*/
		min-height: 140px;
	}
	.banner-title{font-size: 30px;}
	.row.testimonial-wrapper {margin-left: 0px;}
	.clients ul.list-unstyled.text-center.row { float: left; margin: 0; max-width: 100%; padding: 0; text-align: center; width: 100%;}
	.clients ul.row.list-unstyled.text-center li { display: inline-block; float: none; margin: 0; padding: 0; }
	#car-form #car-selector:nth-child(1) { position: static;}
}
@media (min-width: 768px) and (max-width: 991px){
	.slides-changer{
		margin-left:-70px;
	}
	.testimonial-wrapper blockquote{
		padding-left: 15%;
	}
	.banner-title{font-size: 30px;}
	.row.testimonial-wrapper {margin-left: 0px;}
	.list-unstyled.text-center.row { margin-left: 0;}

	.step-listing li{
		width: 100%;
	}
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #main_div, #ql-form #standalone-form-panel #home-panel-content .zip-enter #main_div .step4{margin:0 !important;}
	#car-panel { margin: 6px 0 0 !important; position:static !important;width:28%;}
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #car-selector span { float: none !important; margin: 0 !important;}
	#ql-form #standalone-form-panel{width:100% !important;}

}
@media (max-width: 767px){
	.banner-title{
		font-size: 30px;
		line-height: normal;
	}
	.form-title{
		font-size: 25px;
	}
	.form-zip{
		float: none;
		margin-left: auto;
		margin-right: auto;
		/*display: table;*/
	}
	.form-zip .form-group{
		width: 70%;
		float: left;
		margin-bottom: 0;
	}
	.form-zip .form-control{
		width: 100%;
		max-width: 100%;
	}
	.form-zip .btn-primary{
		/* width: 100%; */
		max-width: 100%;
		/* float: left; */
	}
	.clients .col-xs-6{
		width: 100%;
		margin-bottom: 25px;
		padding: 0 15px;
		line-height: 50px;
	}
	.clients .col-xs-6:first-child{
		padding-top: 15px;
	}
	.comments{
		min-height: 100%;
	}
	.testimonial-wrapper .col-xs-12{
		margin-bottom: 25px;
	}
	.testimonial-wrapper blockquote{
		padding-left: 35px;
	}
	.title{
		font-size: 30px;
	}
	.comments, blockquote footer, p{
		/*font-size: 18px;*/
		font-size: 14px;
	}
	.footer-bottam .col-xs-12{
		text-align: center;
		margin-bottom: 25px;
	}
	 li.section + li.section p { width: 100%; padding-bottom: 20px;}

	 .row.testimonial-wrapper {margin-left: 0px;}
/*  logo css begins  */
.no-padding.clients ul.list-unstyled.row.text-center { margin: 0;}
.clients ul.list-unstyled li { padding: 0 1%; width: 38%;}
.clients ul.list-unstyled li + li { width: 15%;}
.clients ul.list-unstyled li + li + li { width: 16%;margin-top:-4px;}
.clients ul.list-unstyled li + li + li + li { width: 30%;}
/*  logo css ends  */

	.step-wrap h4{
		margin-top: 25px;
		font-size: 20px;
	}
	.step-wrap p{
		padding-left: 0;
	}
	.step-wrap{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.step-listing li{
		width: 100%;
	}
	#car-form #car-selector:nth-child(1) { position: static;}
	#ql-form #standalone-form-panel, #ql-form #standalone-form-panel #home-panel-content{width:100% !important;background: transparent !important;}
	#main_div #car-panel{max-width:none;}
	#boxes #thanks_popup.window .thanks_page { width: 100% !important;}
}
@media(max-width:640px) {
	.primo .ui-dialog .body-title h1 { font-size: 20px;}
	#car-panel{width:258px;}
	#car-details hr{width:100% !important;}
}
@media(max-width:568px) {

	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front { left: 5% !important; max-width: 90%; width: auto !important;}
	.primo .ui-dialog .section1, .primo .ui-dialog .section2, .primo .ui-dialog .section3 { padding: 0;}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front { top: 0 !important;}
	.get-started { font-size: 15px; padding: 6px 15px;}
}
@media(max-width:480px) {
	.title { font-size: 25px; line-height: normal;}
	.fixed-header .site-header .brand { float: left; width: 65%;}
	.get-started { font-size: 13px; padding: 6px 10px;}
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=text], #ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=tel]{width:200px !important;height:25px;line-height:25px;padding:0 5px;}
	#ql-form #standalone-form-panel { width: 100% !important;}
	.step6 .next1 { margin-left: 15px;}
	.step7 .next1 { float: none; margin-left: 15px; margin-top: 26px !important;}
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #main_div, #ql-form #standalone-form-panel #home-panel-content .zip-enter #main_div .step4{margin:0 !important;}
	#car-panel { margin: 6px 0 0 !important; position:static !important;width:256px;}
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #car-selector span { float: none !important; margin: 0 !important;}
	ql-form{width:90% !important;}

}
@media(max-width:414px){
	.jumbotron .body-title h1 { font-size: 28px;}
}
@media (max-width: 360px){
	.banner-title{
		font-size: 28px;
	}
	.form-title {
	  font-size: 18px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front { left: 5% !important; max-width: 90%; width: auto !important;}
	.primo .ui-dialog .ui-dialog-content{padding:0;}
	.primo .ui-dialog .section1, .primo .ui-dialog .section2, .primo .ui-dialog .section3 { padding: 0 15px;}
	.primo .ui-dialog .body-title h1 { color: #434343; font-size: 18px; margin: 0;}
	.primo .ui-dialog fieldset .form-field label.select-option,	.primo fieldset .radio-section .select-option input[type="text"], .primo fieldset .checkbox-section .select-option input[type="text"] { font-family: sans-serif; font-size: 13px;}
	.form-title { line-height: normal;}
	.title { font-size: 23px; line-height: normal;}
	.comments, blockquote footer, p { font-size: 16px;}
	.primo .pod-request-form fieldset .date-picker-container .form-field-date .input-prepend input, .primo input[type="text"], .primo input[type="url"], .primo input[type="email"], .primo input[type="number"], .primo input[type="phone"], .primo input[type="password"], .primo input[type="tel"], .primo textarea, .primo .pod-request-form fieldset .date-picker-container .form-field-length .input-append input { font-size: 24px; font-family: "Open Sans",sans-serif; font-weight: bold;}
	.primo .ui-dialog fieldset .form-field label { font-size: 13px;}
	.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all { left: 0 !important; margin: 0 auto; max-width: 250px; right: 0 !important; width: auto !important;}

	.clients ul.list-unstyled li + li + li { width: 16%;margin-top:-2px;}
	.jumbotron .body-title h1 { font-size: 23px;}
	#car-panel{width:95%;}
}
@media(max-width:320px){
	#ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=text], #ql-form #standalone-form-panel #home-panel-content .zip-enter #car-details input[type=tel] {/* width: 150px !important;*/height:60px !important;line-height:25px;padding:0 5px;}
	.step7 .next1 { margin-left: 15px; margin-top: 40px !important;}
}
@media only screen and (max-width: 767px){
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  top: 45% !important; left: 0 !important; margin: 0 5% !important;
  }
}



/*------------------------- default css for form ------------------ */
/*.invalid {
    border: 1px solid #d51818 !important;
}
.invalidlabel {
    border-bottom: 1px solid #d51818 !important;
}
.need_error, .invalid_data,.invalid_data1, .style_error,.location_error,.format_error,.discussion_error, .bestDate_error, .bestTime_error, .engagement_error, .weddingDay_error, .quoteEmail_error,.quotePhone_error, .callDirectly_error, .quoteName_error, .zipcode_error
{
	color:#d51818 !important;
}
.valid_data
{
 background: url("../images/tick.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.invalid_data
{
 background: url("../images/error.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
/*------------------------- default css for form ------------------ */

/*.col-sm-7.col-md-offset-4.form-zip {
  margin-left: 31%;
}
 .footer-zip .form-inline .form-group #service-zipcode {
line-height: normal;
height: auto;
padding: 13px 0 15px 15px!important;
}
.jumbotron.site-banner .form-inline .form-group #zipcode {
line-height: normal;
height: auto;
padding: 13px 0 15px 13px !important;
}
::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder {text-align: center;}
:-ms-input-placeholder {text-align: center;}*/

.s1, .s3 {
  line-height: 40px;
  margin-top: 22px !important;
}
.step-wrap h4 span {
  float: left;
  padding: 1px 15px 0;
  width: 11%;
}
.step-wrap p {
  float: left;
  margin-top: 19px;
  padding-left: 60px;
  color: #666666;
  line-height: 1.3;
}
.step-listing {
  overflow: hidden;
  padding-left: 60px;
}

@media (min-width: 768px) and (max-width: 1024px){
	.step-listing{padding-left: 0 !important;float: left;}
	.step-wrap p{padding-left: 0 !important;}
	.step-wrap h4 span{width: 16%!important;}
	.step-wrap h4 {font-size: 30px;}
}
@media (min-width: 1px) and (max-width: 580px){
	.site-banner{height: 530px;}
}
@media (max-width: 767px){
	.list-unstyled.step-listing {float: left;}
	.testimonials {padding-top: 0;}
	.testimonial-wrapper {padding-bottom: 0;}
}


/*--------custom css for mobile design-------*/
body{
	background-color:#41b1f0 !important;
	background-image: url('../images/cloud.svg') !important;
	background-repeat: repeat-x !important;
	background-position: top center !important;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	margin: 0px !important;
	padding:0px !important;
}
.question-panel{
	height:auto;
}
#ql-form{
	width:100% !important;
}

#site-wrapper{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow: hidden;
	text-align: center;
}
.container{
	width:100%;
}
.screen2{
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}
.car-quote {
  color: #fff; 
}
.car-quote h2, .car-quote h4, .car-quote h5, .screen2 h2, .step1 h3, .step2 h3, .step3 h3, .step4 h3, .step5 h5, .step6 h5, .step7 h5, .step8 h3, .step9 h3, .step10 h3, .step11 h3, .step12 h3, .step13 h3, .step14 h3, .step15 h3, .step16 h3, .step17 h3, .step18 h3, .step19 h3, .step20 h3, .step21 h3, .step2 h3, .step23 h3, .step24 h3, .step25 h3, .step26 h3, .step27 h3{
  -webkit-text-shadow: 1px 1px 0 rgba(0, 74, 121, 0.6);
  -moz-text-shadow: 1px 1px 0 rgba(0, 74, 121, 0.6);
  -ms-text-shadow: 1px 1px 0 rgba(0, 74, 121, 0.6);
  -o-text-shadow: 1px 1px 0 rgba(0, 74, 121, 0.6);
  text-shadow: 1px 1px 0 rgba(0, 74, 121, 0.6);
}
.car-quote h4 {
  font-size: 21px;
  font-weight: 300;
}
.car-quote h2 {
  font-size: 27px;
  margin: 8px 0;
}
.car-quote h5{
	font-size: 20px;
  	font-weight: 300;
}
.tap {
	display: block;
	padding: 15px 0;
	color: #fff !important;
	font-size: 15px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.taphere:hover, .taphere:active, .taphere:focus{
	text-decoration: none !important;
}
.car-image{
	margin:40px auto 0px auto;
	width:100%;
}
.car-image img{
	width: 70%;
	height: auto;
	display: inline-block;
}
.screen2 h2{
	color: #fff;
	font-size: 27px;
	font-weight: 300;
}
.form-title {
  font-size: 18px;
  color: #000;
}
.screen2 .form-inline .form-group input {
  display: inline-block;
  width: 165px;
  border-radius: 4px !important;
  height:60px;
  font-family: "Open Sans",sans-serif;
  font-size:40px !important;
  font-weight: bold;
  color: #000 !important;
}
.step1 h3, .step2 h3, .step3 h3, .step4 h3, .step5 h5, .step6 h5, .step7 h5, .screen5 h3, .screen6 h3, .screen7 h3, .step8 h3, .step9 h3, .step10 h3, .step11 h3, .step12 h3, .step13 h3, .step14 h3, .step15 h3, .step16 h3, .step17 h3, .step18 h3, .step19 h3, .step20 h3, .step21 h3, .step22 h3, .step23 h3, .step24 h3, .step25 h3, .step26 h3, .step27 h3{
	font-size: 24px;
	color: #fff;
	line-height: 1.2;
}
#car #car-panel{
	width: 100%;
	max-width: 100% !important;
	top: inherit;
	margin: 20px 0 0 0 !important;
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	background-color: rgba(255,255,255,0.9);
}
#panel-cols{
	background-color: transparent !important;
	border:none !important;
	padding-right: 5px;
}
#car-panel td a, #car-details td a{
	font-size: 16px !important;
	padding:8px !important;
}
.step3 #panel-cols span, .step3 #panel-cols a {
	font-size: 13px;
	margin-bottom: 10px;
	min-width: 32.5px;
	padding: 8px 0 !important;
	width: 11%;
}
.step3 #panel-cols > table {
  margin: auto;
  width: 50% !important;
}
.step3 #panel-cols span{
	width: 36px;
	margin-bottom: 0px;
}
#car-form #car-details .left input{
	height: 45px !important;
    line-height: 45px !important;
    width: 100% !important;
}
#car-form .left{
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 20px 0px 0px 0px !important;
    margin-top: 20px;
}
#car-selector {
  left: inherit !important;
  margin-bottom: 15px;
  top: inherit !important;
}
table.back td a{
	margin-top: 5px;
	display: block !important;
	color: #333;
}
#car-form #car-details .left input.next1{
	line-height: normal !important;
}
#car-panel td a.link_act {
    background-color: #de3d3d !important;
    color: #fff !important;
 }

 .step1, .step2, .step3, .step4, .step5, .step6, .step7, .screen3, .screen4, .screen5, .screen6, .screen7,.step8, .step9, .step10, .step11, .step12, .step13, .step14,.step15, .step16,.step17, .step18, .step19, .step20, .step21, .step22, .step23, .step24, .step25, .step26, .step27{
  left: 0;
  right:0;
  top:0;
  bottom:0;
  padding: 0 15px;
  position: absolute;
  text-align: center;
}

@media (min-width:600px) and (max-width:767px){ 
	.step1, .step2, .step3, .step4, .step5, .step6, .step7, .screen3, .screen4 , .screen5, .screen6, .screen7, {right:30px;}
}

.step{
  	display: block;
  	left: 0;
  	padding: 0 15px;
  	position: absolute;
  	right: 0;
  	top: 32%;
	-webkit-transform: translate(0px, -50%);
	-moz-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	-o-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
	max-width: 320px;
	width:100%;
	margin:auto;
}
 

/*------- slideinright for all steps --------------*/

@-webkit-keyframes slideInRight {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  20%{
  	opacity: 0;
  }
  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInRight {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  20%{
  	opacity: 0;
  }
  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slideInRight {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  20%{
  	opacity: 0;
  }
  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  20%{
  	opacity: 0;
  }
  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.step1.active, .step2.active, .step3.active, .step4.active, .step5.active, .step6.active, .step7.active, .screen3.active, .screen4.active, .screen5.active, .screen6.active, .screen7.active, .step8.active, .step9.active, .step10.active, .step11.active, .step12.active, .step13.active, .step14.active, .step15.active, .step16.active, .step17.active, .step18.active, .step19.active, .step20.active, .step21.active, .step22.active, .step23.active, .step24.active, .step25.active, .step26.active, .step27.active{
    -webkit-animation:slideInRight 400ms ease-in-out 0s;
    -moz-animation:slideInRight 400ms ease-in-out 0s;
    -ms-animation:slideInRight 400ms ease-in-out 0s;
    animation:slideInRight 400ms ease-in-out 0s;
    bottom:0;
}


/*------- slideoutleft for all steps --------------*/

@-webkit-keyframes slideOutLeft {
  from {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes slideOutLeft {
  from {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-ms-keyframes slideOutLeft {
  from {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.step1.inactive, .step2.inactive, .step3.inactive, .step4.inactive, .step5.inactive, .step6.inactive, .step7.inactive, .screen3.inactive, .screen4.inactive, .screen5.inactive, .screen6.inactive, .screen7.inactive, .step8.inactive, .step9.inactive, .step10.inactive, .step11.inactive, .step12.inactive, .step13.inactive, .step14.inactive, .step15.inactive, .step16.inactive, .step17.inactive, .step18.inactive, .step19.inactive, .step20.inactive, .step21.inactive, .step22.inactive, .step23.inactive, .step24.inactive, .step25.inactive, .step26.inactive, .step27.inactive{
    -webkit-animation:slideOutLeft 300ms ease-in-out 0s;
    -moz-animation:slideOutLeft 300ms ease-in-out 0s;
    -ms-animation:slideOutLeft 300ms ease-in-out 0s;
    animation:slideOutLeft 300ms ease-in-out 0s;
    bottom:0;
    opacity: 0;
}

/*21-aug-2015*/
.step1 #car-panel td a {
    display: block;
    text-align: center;
    margin: 0px;
}
    .step1 #car-panel table {
    width: 100%;
}
#car-panel .wed-month td a {
    display: block;
    margin: 0;
    text-align: center;
}
table.back {
  /*border-top: 1px solid #999;*/
  background-color: #555;
}
table.back td {
  padding: 0 !important;
}
#car-panel .btn-back, #car-details table.back .btn-back {
	color: #fff !important;
	background-image: none !important;
	display: block !important;
	font-weight: 400;
	margin: 0 auto 5px;
	padding: 8px 0 !important;
	text-align: center;
	font-size: 15px !important;
}
.left table.back {
  margin-top: 22px;
}
table.back td a:hover{color:#fff !important;}
table.back:hover, table.back:focus{background:#de3d3d !important;}

/*zoom in effect for screen1*/
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.screen1.inactive {
    -webkit-animation:zoomOut 300ms ease-in-out 0s;
    -moz-animation:zoomOut 300ms ease-in-out 0s;
    -ms-animation:zoomOut 300ms ease-in-out 0s;
    animation:zoomOut 300ms ease-in-out 0s;
    opacity: 0;
}


/*zoomin effect for screen2*/
@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
.screen2.active {
    -webkit-animation:zoomInUp 300ms ease-in-out 0s;
    -moz-animation:zoomInUp 300ms ease-in-out 0s;
    -ms-animation:zoomInUp 300ms ease-in-out 0s;
    animation:zoomInUp 300ms ease-in-out 0s;
}
#car-details input[type="tel"]{
	font-weight: bold !important;
	font-size: 27px !important;
}

#car #main_div .next1 {
    background: #de3d3d url("../images/animated-arrow-white.gif") no-repeat scroll right center;
    border: 1px solid #b93434;
    border-radius: 5px;
    box-shadow: 0 2px 0 #b93434;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    margin-top: 13px !important;
    padding: 5px 30px 5px 13px;
    text-shadow: 1px 1px 0 #b93434;
    width: auto !important;
}
.screen6 #car-panel td a, .screen5 #car-panel td a,.screen4 #car-panel td a,.screen7 #car-panel td a,.step1 #car-panel td a {
    display: block;
    text-align: center;
    margin: 0px;
    background-image: none !important; 

}
.screen6 #car-panel table {
    width: 100%;
}
table.back td a {
    color: #fff !important;
    font-size: 15px;
    font-weight: 400;
}
.screen7 .fieldset-details .form-field{
	padding: 15px 15px 5px;
}
.screen7 .fieldset-details .form-field textarea{
	line-height: normal;
}
.screen7 #car-panel .next1 {
	display: inline-block;
	float: none;
	margin: 0 auto 20px !important;
}
.screen4 #selector-panel .form-field, .screen3 #selector-panel .form-field{
  padding: 0;
}
.screen4 #selector-panel .form-field .stylelabel, .screen3 #selector-panel .form-field .needlabel {
	font-size: 15px;
	padding: 10px 22px 10px 13px;
	text-align: left;
	line-height: 1.2;
}
.screen4 #selector-panel .checkbox-section .styleCheckbox, .screen3 #selector-panel .checkbox-section .checkbox {
  line-height: 15px !important;
  text-align: left;
  font-size: 13px;
  color: #333;
  font-weight: 500;
  font-family: "Open Sans",sans-serif;
}
.screen4 #selector-panel .checkbox-section .styleCheckbox input[type="checkbox"], .screen3 #selector-panel .checkbox-section .checkbox input[type="checkbox"]{
	top:17px !important;
}

/*.screen3 .step #car-panel #selector-panel .checkbox-section label{padding:5px 20px 5px 32px;}
.screen4 #panel-cols span { display: inline-block!important; margin: 2px !important; min-width: 28px !important; text-align: center !important;color: #575757 !important;padding: 0;}
.screen4 #selector-panel #panel-cols tr a:empty { border: 0 none !important;}*/

.step #car-panel #selector-panel .checkbox-section label, .step #car-panel #selector-panel #panel-cols table tr td a {
	  min-height:44px;line-height: 28px;
}
.step #car-panel #selector-panel #panel-cols table tr.weekend td a{min-height: 0;line-height: normal;}
.screen3 .step #car-panel #selector-panel .checkbox-section label {
  float: left;
  line-height: 35px !important;
  padding: 5px 20px 5px 32px;
  vertical-align: middle;
  width: 100%;
}
.screen3 .step #car-panel #selector-panel span:last-child label {
  border-radius: 0 0 5px 5px !important;
  padding-bottom: 5px;
  padding-top: 5px;
}
.screen3 .step #car-panel #selector-panel label img {
  float: right;
  text-align: right !important;
  height: 35px;
    width: 30px;
}
.screen4 .step h3 span#attr-title{color:#fff;}
.screen4 .step #car-panel #selector-panel #panel-cols td a {
  float: left;
  line-height: 37px !important;
  padding-bottom: 3px !important;
  padding-top: 3px !important;
  width: 100%;
}
.screen4 .step #car-panel #selector-panel span {
  float: left;
}
.screen4 .step #car-panel #selector-panel img {
  float: right;
   height: 35px;
    width: 30px;
}
.screen5 .step #car-panel #selector-panel #panel-cols table{width:100%;}
.screen5 .step #car-panel #selector-panel #panel-cols td{text-align: center;}

.screen3 .step #car-panel #selector-panel span:last-child img {
  display: none;
}
/*  --------------------------   22-sept-15   -------------------------------*/